<header>
    <div>
        <a href="/"><img src="/images/descarga.png" alt="el"></a>
    </div>
    <nav>
        <ul>
            <li><a href="/user/login">Login</a></li>
            <li><a href="/user/register">Register</a></li>
            <li><a href="/admin">Admin</a></li>
        </ul>
    </nav>
</header>